body {
  background: linear-gradient(#f7f0a3, #f8f5d7);
}

.hamburger-menu {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 25px;
  width: 35px;
  position: absolute;
  top: 20px;
  right: 20px;
}

.hamburger-menu div {
  background-color: black;
  height: 3px;
  width: 100%;
}

.menu-content {
  position: absolute;
  display: flex;
  flex-direction: column;
  line-height: 30px;
  top: 60px;
  right: 20px;
  background-color: #f7f0a3;
  border: 3px solid black;
  padding: 10px;
}


.top {
  display: flex;
  text-align: left;
  justify-content: left;
  align-items: left;
  padding-top: 3px  ;
  padding-left: 20px;
}


.center_qoute {
  height: 80vh;
  line-height: 1px;
  flex-direction: column;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.bottom {
  height: 12.6vh;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.bottom button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}